<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-FileUpload.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap-datepicker.js"></script>
</head>
<body>
{% block body %}

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                {%  if not app.user %}
                    <a class="navbar-brand" href="{{  path('accueille_home')  }}">Accueil</a>
                {% else %}
                    <a class="navbar-brand" href="{{ path('user_offre') }}">Accueil</a>
                {% endif %}
            </div>

                <ul class="nav navbar-nav navbar-right">
                    {%  if not app.user %}
                        <li><a href="{{ path('security_login') }}">Connexion</a></li>
                        <li><a href="{{ path('security_Inscription') }}">Inscription</a></li>

                    {% else %}
                        <li><a href="{{ path('security_logout') }}">Déconnexion</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="bd-example">


                    <div class="w-25 p-3">
                         {% for liste in paginator %}
                                <div class="list-group">
                                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-25 p-3">
                                                         <div>
                                                             <h3 class="title-content-n3">- {{ liste.categorieOffre.categorie }}</h3>
                                                             <span class="date-ligne">
                                                                Mise en ligne le : {{ liste.datePostulation|date("d/m/Y") }}
                                                             </span>
                                                         </div>
                                                <p>{{ liste.description }}</p>
                                                <div class="fr w20 block_item__list__bt">
                                                             <span class="txt-ref">Réf : {{ liste.reference }}</span>
                                                             <a href="{{ path('offre_liste',{ offreId:  liste.idOffres }) }}"  class="link">Details</a>
                                                         </div>
                                            </div>
                                        </div>
                                </div>
                         {% endfor %}

                    </div>
        </div>
    </div>
    <div class="text-center">
        <div class="navigation" >
            {{ knp_pagination_render(paginator) }}
        </div>
    </div>


{% endblock %}

</body>
</html>
